<!DOCTYPE HTML>
<html lang="en" ng-app="angApp">  
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>


		<!-- Angular Source Files -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.js"></script>
		
		<!-- My Angular Module, CSS -->
		<script type="text/javascript" src="static/controller/angApp.js"></script>
		<script type="text/javascript" src="static/controller/homeCtrl.js"></script>
		<script type="text/javascript" src="static/controller/detailCtrl.js"></script>
	</head>

	<body>
		<div ng-view></div>
	</body>
</html>



